.inputContainer {
    display: flex;
    flex-direction: column;
}
input {
    font-size: 14px;
    border: 1px solid black;
    border-radius: 8px;
    &:hover,
    &:focus {
        border: 1px solid blue;
    }
}
.sm {
    input {
        width: 200px;
        height: 40px;
    }
}

.md {
    input {
        width: 200px;
        height: 56px;
    }
}
.error {
    input {
        border: 1px solid red;
    }
    label,
    span {
        color: red;
    }
}

.fullWidth {
    input {
        width: 100%;
    }
}
